<html>
	<head>
		<meta name="viewpoint" content="with=device-width, initial-scale=1.0">
		<title>Login</title>
		<link rel="stylesheet" href="../static/login-style.css">
	</head>
	<body>
		<form action="/log" method="POST">
			<div class="form">
				<h1>Login</h1>
				<input
					placeholder="Name"
					type="text"
					name="name"
					value="{{ name }}">
				<input
					placeholder="Password"
					type="password"
					name="password"
					value="{{ password }}">
				<span>Don't have account? <a href="{{ url_for('reg') }}">Signup Now</a></span>
				<a href= "{{ url_for('page') }}">
					<button type="submit">LOGIN</button>
				</a>
			</div>
		</form>
	</body>
</html>